#deck_size_error {
    display: none;
}

img {
    display: none;
}

#selected_card_title {
    display: none;
}

#main_1 {
    border-color: red;
}

#main_2 {
    border-color: red;
}

#main_3 {
    border-color: red;
}