#deck_size_error {
    display: none;
}

img {
    display: none;
}

#selected_card_title {
    display: none;
}

#main_deck {
    display: inline-block;
    width: 80%;
}

#selected_card {
    display: inline-block;
    width: 20%;
    text-align: center;
}

#selected_card, #player_side{
    text-align: center;
}

footer, #title {
    text-align: center;
}

#player_side {
    display: none;
}

#main_menu {
    padding-left: 44%;
    padding-top: .5%;
    padding-bottom: .5%;
    border-style: solid;
}